.blog-items-wrapper {
  &:nth-of-type(2n) {
    background-color: white;
  }
  background-color: lightgrey;

  border: 1px solid black;
  height: 350px;
  padding: 20px;
  margin-bottom: 20px;

  .blog-item-avatar {
    width: 80px;
    height: 80px;
  }

  .blog-item-info-wrapper {
    padding-left: 15px;

    .blog-item-title {
      font-weight: bold;
    }

    .blog-item-details {
      font-size: 12px;
    }
  }

  .blog-item-btn-wrapper {
    position: absolute;
    right: 30px;

    .blog-item-btn {
      background-color: black;
      font-size: 12px;
      height: 25px;
      color: white;
      width: 90px;
      border-radius: 3px;

      &.delete-btn {
        margin-left: 30px;
      }
    }
  }

  .blog-post-content {
    margin-top: 10px;
    word-break: break-all;
  }

  .blog-post-images-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    width: 100%;

    .blog-post-image {
      margin-right: 15px;
    }
  }
}

@media (max-width: 576px) {
  .blog-items-wrapper {
    .blog-item-info-wrapper {
      .blog-item-title {
        font-size: 12px;
      }

      .blog-item-details {
        font-size: 10px;
      }
    }

    .blog-post-content {
      font-size: 10px;
    }

    .blog-post-images-wrapper {
      margin-top: 0;
    }

    .blog-item-btn-wrapper {
      position: absolute;
      top: 20px;
      right: 15px;

      .blog-item-btn {
        background-color: black;
        font-size: 10px;
        height: 20px;
        color: white;
        width: 75px;
        border-radius: 3px;

        &.delete-btn {
          margin-left: 15px;
        }
      }
    }
  }
}
