.messages-wrapper {
  height: 250px;
  width: 100%;

  .msg-container {
    position: relative;

    .close-icon {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 15px;
    }
  }
}
