.modal-dialog {
  max-width: 650px;

  .modal-content {
    border-radius: 0px;

    .modal-header {
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 10px;
      border-bottom: 1px solid black;

      .modal-title {
        font-weight: bold;
        font-size: 14px;
        font-family: cursive;
      }

      .close {
        &:focus {
          outline: none;
        }

        span {
          color: black;
          line-height: 0.7;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .modal-body {
      align-self: center;

      .required {
        margin-left: 10px;
        color: red;
      }
      .title-wrapper {
        margin-top: 25px;
        margin-bottom: 10px;
      }

      .modal-blog {
        &-title-label,
        &-text-label,
        &-input-title,
        &-textarea-content {
          font-family: cursive;
          color: black;
        }

        &-title-label,
        &-text-label {
          font-size: 14px;
          font-weight: 600;
          margin-right: 10px;
        }

        &-input-title,
        &-textarea-content {
          width: 450px;
          font-size: 12px;
          color: black;
        }

        &-textarea-content {
          min-height: 100px;
        }
      }
    }

    .modal-btn {
      width: 80px;
      background-color: black;
      color: white;
      align-self: flex-end;
      font-size: 12px;
      height: 25px;
      border-radius: 3px;
    }

    .modal-footer {
      justify-content: space-evenly;
      border: none;
    }
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    .modal-content {
      .modal-body {
        .modal-blog {
          &-input-title,
          &-textarea-content {
            width: 300px;
          }
        }
      }
    }
  }
}
